<!-- <p>cate-dis works!</p> -->
<!-- {{userData|json}} -->
<div>
   <!-- <mat-card >

    <mat-card-content class="favourites"  *ngIf="!isLoading"> -->
      <mat-card  style="width: 400px;" >
            <mat-card-content class="favourites">


 <img class="w-100 mb-2" src="{{ strCategoryThumb }}" />
 <mat-card-content>
          <div class="card-detail">
            <p> <strong>ID: </strong>{{ idCategory }}</p>
            <p><strong>Category: </strong>{{ strCategory }}</p>

    </div>
    <!-- Recipe -->
    <div class="col-12 col-md-7 recipe__container">
      <!-- <h2>{{ meal.title }}</h2> -->
       <span class="recipe"><strong>Recipe: </strong></span>
      <span>{{ strCategoryDescription }}</span>
    </div>

         <!-- <button mat-raised-button color="primary" (click)="addToFav()">Add to favourites </button> -->
        </mat-card-content>
         </mat-card-content>
      </mat-card>

  <!-- </mat-card> -->
</div>
