<!--<mat-slider min="1" max="100" step="1" value="50"></mat-slider>-->
<!--<app-header></app-header>

<app-display-form></app-display-form>
<app-reactive-form></app-reactive-form>

<app-arth-opt></app-arth-opt>
<app-dis-table></app-dis-table>
<app-user-create></app-user-create>
<app-user-dis></app-user-dis>-->
  <!-- <app-cmp-one></app-cmp-one>-->
<!-- <app-cmp-two></app-cmp-two>
  <app-reactive-form></app-reactive-form>
<app-curd-opt></app-curd-opt>
<app-search></app-search>
<app-cmp-three></app-cmp-three> -->




<!-- <div class="app" [ngClass]="theme | async">
  <app-nav-bar></app-nav-bar>
  <router-outlet></router-outlet>
</div>
<app-country-card></app-country-card> -->
<!-- <app-test></app-test> -->
<!-- <app-reg-reactive-form></app-reg-reactive-form>
<app-reg-tdf-form></app-reg-tdf-form> -->
<!-- <<app-reg-exp-test></app-reg-exp-test> -->
<!-- <app-test-form></app-test-form> -->
 <mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button>
    <h1>SimpleCRM</h1>
    <span class="menu-spacer"></span>
    <div>
      <a mat-button routerLink="/home-dis">Home</a>
      <a mat-button [routerLink]="'/about'"> About Us </a>
      <a mat-button [routerLink]="'/contact'"> Contacts </a>
      <a mat-button [routerLink]="'/user'"> User </a>
      <a mat-button [routerLink]="'/orders'"> Add </a>
      <a mat-button [routerLink]="'/user-info'"> User Information </a>
      <a mat-button [routerLink]="'/present-add'"> Present </a>
      <a mat-button [routerLink]="'/perment-add'"> Permanant </a>
      <a mat-button [routerLink]="'/meal'"> Meal </a>
      <a mat-button [routerLink]="'/search'"> Search </a>
     <a mat-button [routerLink]="'/category'"> Category </a>
      <a mat-button [routerLink]="'/categogy-dis'"> Category Display </a>





      <!-- <a mat-button [routerLink]="'/model'"> Model </a>
      <a mat-button [routerLink]="'/event'"> Occasions </a>
      <a mat-button [routerLink]="'/event-dis'"> Occasion Display </a> -->
</div>
  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>
<!-- <app-perment-address></app-perment-address> -->

<!-- <app-add></app-add>
<app-lifecycle></app-lifecycle> -->
<!-- <app-pan-validation></app-pan-validation> -->
<!--<app-present-address></app-present-address>--->
<!-- <app-document></app-document> -->
<!-- <app-docs></app-docs> -->
<!-- <app-occasion></app-occasion> -->
<!-- <app-occasion-display></app-occasion-display> -->
<!-- <app-docs-data></app-docs-data>cd
<app-test-model></app-test-model> -->
<!-- <app-meal-api></app-meal-api> -->
<!-- <app-random-api></app-random-api> -->
<app-favourites></app-favourites>
<!-- <app-search-meal></app-search-meal> -->
<!-- <app-category></app-category> -->
