<!-- <h4>{{ name }}</h4>

<select name="city" class="rounded-inputs20 select-select col-md-3" (change)="onChange($event.target.values)">
  <option *ngFor="let country of countries"  [value]="country.id">{{country.name}}</option>
  </select>

  <select id="sel1" name="Country" class="rounded-inputs20 select-select col-md-3">
    <option *ngFor="let city of cities" [value]="city">{{city}}</option>

  </select> -->


  <!-- <div class="jumbotron text-center">
	<h1 class="display-5">
		Angular Select Dropdown
	</h1>
</div>

<div class="container">
	<div class="row custom-wrapper">
		<div class="col-md-12">

			<!-- Form starts -->
			<!-- <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
				<div class="group-gap">
					<div class="d-block my-3"> -->

          <!-- <div class="mb-3">
            <select class="custom-select" (change)="changeCity($event)" formControlName="cityName">
              <option value="">Choose your city</option>
              <option *ngFor="let city of City" [ngValue]="city">{{city}}</option>
            </select> -->

            <!-- error block -->
            <!-- <div class="invalid-feedback" *ngIf="isSubmitted && cityName.errors?.required">
              <sup>*</sup>Please enter your city name
            </div>
          </div>

          </div>
        </div> -->

          <!-- Submit Button -->
          <!-- <button type="submit" class="btn btn-danger btn-lg btn-block">Submit</button>
      </form>Form ends -->
<!--
    </div>
  </div>
</div> --> -->
