
    <!--ToolBar-->
    <p>
        <mat-toolbar color="primary">
          <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
            <mat-icon>menu</mat-icon>
          </button>
          <span>My App</span>
          <span class="example-spacer"></span>
          <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
            <mat-icon>favorite</mat-icon>
          </button>
          <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
            <mat-icon>share</mat-icon>
          </button>
        </mat-toolbar>
      </p>
<!---Registration form-->
      <div> 
        <mat-card-content>
            <form [formGroup]="registerForm" (ngSubmit)=" onSubmit()" novalidate>
                
               
                <!-- name -->
                 
                <mat-form-field >
                  <input type="text" matInput placeholder="Name" formControlName="name">
                  <mat-error>This field is mandatory.</mat-error>
        
                </mat-form-field>
          
                <mat-form-field >
                    <input type="number" matInput placeholder="Phone No" formControlName="phone">
                    <mat-error>This field is mandatory.</mat-error>
          
                  </mat-form-field>

                  <mat-form-field >
                    <input type="email" matInput placeholder="E-mail" formControlName="email">
                    <mat-error>This field is mandatory.</mat-error>
          
                  </mat-form-field>
            
            
               
                <!-- age -->
                 <mat-form-field >
                    <input type="number" matInput placeholder="Age" formControlName="age">
                    <mat-error>This field is mandatory.</mat-error>
        
                  </mat-form-field>
        
        
                 <!--department-->
        
                 <mat-form-field>
                    <mat-select formControlName="city" placeholder="City">
                      <mat-option>Select one</mat-option>
                      <ng-container *ngFor="let cities of city ">
                        <mat-option value="{{cities.value}}">{{cities.value}}</mat-option>
                      </ng-container>
                    </mat-select>
                    <mat-error>Please select at list one department</mat-error>
        
                  </mat-form-field>
          
                <!-- Gender -->
        
                <div class="misc-bottom-padding">
                  <mat-label type="radio">Gender:</mat-label>
                  <mat-radio-group aria-label="Select an option" formControlName="gender">
                    <mat-radio-button value="Male">Male</mat-radio-button>
                    <mat-radio-button value="Female">Female</mat-radio-button>
        
                  </mat-radio-group>
                </div>
                 
                 <!-- Submit --->
                 <button mat-raised-button  color="primary">
                    <mat-icon>add</mat-icon>Add
                  </button>
                  <!--<button  mat-raised-button color="accent"  >Submit</button>-->
                 <!----  <button mat-raised-button color="warn" (click)="onClear()">Clear</button>
                 <button mat-raised-button color="primary" (click)="onUpdate()">Update</button>-->
        
              </form>
            
            </mat-card-content>
          </div> 



          <!--table-->
<div>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>  Id </th>
        <td mat-cell *matCellDef="let element; let i = index;"> {{i+1}} </td>
      </ng-container>
     
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>
    
      <ng-container matColumnDef="phone">
        <th mat-header-cell *matHeaderCellDef> Phone No </th>
        <td mat-cell *matCellDef="let element"> {{element.phone}} </td>
      </ng-container>

      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> Email </th>
        <td mat-cell *matCellDef="let element"> {{element.email}} </td>
      </ng-container>
    
    
      <ng-container matColumnDef="age">
        <th mat-header-cell *matHeaderCellDef>Age </th>
        <td mat-cell *matCellDef="let element"> {{element.age}} </td>
      </ng-container>

      <ng-container matColumnDef="city">
        <th mat-header-cell *matHeaderCellDef>City </th>
        <td mat-cell *matCellDef="let element"> {{element.city}} </td>
      </ng-container>

      <ng-container matColumnDef="gender">
        <th mat-header-cell *matHeaderCellDef>Gender </th>
        <td mat-cell *matCellDef="let element"> {{element.gender}} </td>
      </ng-container>

      <!-- action Column -->

        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef> Action </th>
          <td mat-cell *matCellDef="let element;  let i = index;" class="action-link"> 
            <button mat-icon-button color="accent" (click)="onUpdate(i)">
                <mat-icon aria-label="Edit">edit</mat-icon>
              </button>
              <button mat-icon-button color="warn" (click)="onDelete(i)">
                <mat-icon aria-label="Delete">delete</mat-icon>
              </button>
              <button mat-icon-button color="primary" >
                <mat-icon aria-label="Preview">preview</mat-icon>
              </button>
          </td>
        </ng-container>

    
      <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
      <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
    </table>
    
  </div>

